@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './base.css'; */

:root {
   --secondary: #152c3f;
   --secondary-dark: #182e41;
   --secondary-light: #4c6088;
   --secondary-lighter: rgba(31, 56, 77, 0.151);

   /* --primary-dark: #646dac; */
   --primary-dark: #5A6ACF;

   --primary: #c7ceff;
   --primary-light: #dfe2fa;
   --primary-lighter: rgba(110, 125, 222, 0.123);
   --primary-lightest: #f1f2f7;
   --primary-hover: #6776da;

   --accent: #f99c30;
   --accent-light: #ffe6cc;
   --accent-hover: #ffae52;

   --neutral: #b3b3b3;
   --neutral-light: #ebebeb;
   --neutral-lighter: #f5f5f5;
   --neutral-lightest: #f2f2f2;

   --tertiary: hsla(200, 71%, 11%, 0.478);
   --tertiary-light: rgb(176, 195, 204);
   --tertiary-lighter: rgba(31, 56, 77, 0.151);
}

body {
   font-family: "DM sans", sans-serif;
   color: var(--secondary-light);
   font-size: 1.4rem;
}
