@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import './base.css'; */

:root{
   --dark-black: #1F384C;
   --dd: #6370c5;
   --white-1: #F5F5F5;
   --grey-text-1: #B3B3B3;
   --grey-outline: #EBEBEB;
     
}

body {
    font-family: "DM sans", sans-serif;
}

